/* import Outfit from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #013c33;
  --color-primary-hover: #012e27;
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-surface: #ffffff;
  --color-input: #f9fafb;
  --color-border: #e5e7eb;

  --font-outfit: "Outfit", ui-sans-serif, system-ui, sans-serif;

  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;

  --font-mono: "Geist Mono", ui-monospace, SFMono-Regular, "SF Mono", Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --shadow-soft: 0 4px 20px rgba(0, 0, 0, 0.05);
  --shadow-dropdown: 0 10px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #013941;
  --primary-hover: #013941;
  --surface: #ffffff;
  --input: #f9fafb;
  --border: #e5e7eb;
  --box-shadow-soft: 0 4px 20px rgba(0, 0, 0, 0.05);
  --box-shadow-dropdown: 0 10px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-surface: var(--surface);
  --color-input: var(--input);
  --color-border: var(--border);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  /* This applies Outfit globally via Tailwind's preflight */
  font-family: var(--font-outfit);
}

button {
  cursor: pointer;
}
